@keyframes typing {
    0%, 100% { width: 0 }
    50% { width: 100% }
  }
  
  .typing-label .typing-text {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid purple;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 8s steps(40, end) infinite,
      blink-caret 1.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color: purple; }
  }