/* Smooth scrolling */
* {
  scroll-behavior: smooth;
}

/* Keyframes for slide animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Default hidden state */
.content-hidden {
  opacity: 0;
  transform: translateX(-100%);
}

/* When the content becomes visible */
.content-visible {
  animation: slideInFromLeft 0.3s ease-in-out forwards; /* Adjust duration as needed */
}

/* For content that enters from the right */
.content-visible-right {
  animation: slideInFromRight 0.3s ease-in-out forwards; /* Adjust duration as needed */
}

/* When the content is exiting (if needed) */
.content-exiting {
  animation: slideInFromLeft 0.3s ease-in-out reverse; /* Adjust duration as needed */
}

/* Exclude animation from FAQ section */
.exclude-animation {
  opacity: 1;
  transform: none;
}
